# PostgreSQL Configuration
POSTGRES_USER=logiflow_user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=logiflow

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_secure_password_here
MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key

# Airflow Configuration
AIRFLOW_SECRET_KEY=your_secret_key_here

# MinIO & Airflow Endpoints
MINIO_ENDPOINT=localhost:9000
BUCKET_NAME=logiflow-raw
